<div class="home-layout">
      <!-- Sidebar -->
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" opened="true">
          <div class="sidebar-header">
            <mat-icon class="brand-icon">science</mat-icon>
            <h2 class="brand-name">QURI</h2>
          </div>

          <mat-divider></mat-divider>

          <mat-nav-list class="nav-list">
            <mat-list-item
              *ngFor="let link of navigationLinks"
              [routerLink]="['/home', link.route]"
              routerLinkActive="active"
              class="nav-item"
              (click)="onNavigate(link)">
              <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
              <span matListItemTitle>{{ link.nameKey | translate }}</span>
            </mat-list-item>
          </mat-nav-list>

          <mat-divider></mat-divider>

          <!-- Sign Out Button -->
          <div class="sidebar-footer">
            <button mat-stroked-button color="warn" (click)="signOut()" class="sign-out-btn">
              <mat-icon>logout</mat-icon>
              {{ 'common.signOut' | translate }}
            </button>
          </div>
        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content class="main-content">
          <mat-toolbar class="toolbar">
            <span>{{ getCurrentPageTitle() }}</span>
            <span class="toolbar-spacer"></span>
            <app-language-switcher></app-language-switcher>
            <button
              mat-icon-button
              (click)="viewCart()"
              [matBadge]="cartService.cartCount > 0 ? cartService.cartCount : null"
              matBadgeColor="accent"
              matBadgeSize="small"
              matTooltip="{{ 'catalog.viewCart' | translate }}">
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <button
              *ngIf="isManufacturer()"
              mat-icon-button
              (click)="navigateToSection('fulfillments')"
              matTooltip="{{ 'navigation.fulfillments' | translate }}">
              <mat-icon>local_shipping</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-toolbar>

          <div class="content-container">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
