/* Angular Material Theme Only */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global minimal styles - Material only */
html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


